.feedback {
    position: relative;
    
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 35px;
        left: 0;
        bottom: 0;
        z-index: 10;
        background-image: linear-gradient(to top right, #292929 49%, transparent 50%), linear-gradient(to top left, #292929 49%, transparent 50%);
        background-repeat: no-repeat;
        background-position: 0 0,100% 0;
        background-size: 50.1% 100%;

    }

    background-color: #f8f5f2;
    color: #000000;
    padding-top: 27px;
    
    &__title {
        margin:0;
    }

    &__line {
        margin: 0 auto;
        background-color: #e5ddd5;
        height: 1px;
        border: none;
        
    }

    &__title {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        padding-top: 28px;

    }



    &__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;
        margin-top: 29px;
        margin-bottom: 0;

    }

    &__item {
        display: flex;
        position: relative;
        padding-right: 11px;
        
        
        
    }

    &__text {
        padding-bottom: 11px;
        margin-left: 90px;
        margin-top: 8px;
    }

    &__img {
        position: absolute;
        width: 50px;
        height: 51px;
        top: -19px;
        left: 20px;
    }

    &__slider {
        padding-bottom: 53px;
        
        .active-btn {
            background-color: #000;
        }
    }

    &__button,
    &__slider-btn {
        display: none;
    }
}


@media (min-width: @tablet-width) {
    .feedback {
        padding-top: 7px;
        padding-bottom: 69px;

        &__button {
            display: inline-block;
            width: 160px;
            border-color: #e5ddd5;
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }
        &:after {
            display: none;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            
        }
        &__header {
            display: flex;
            justify-content: space-between;
            max-width: 640px;
            margin: 0 auto;
        }

        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 30px;
            padding-top: 46px;
            
        }
        &__button {
            width: 160px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            font-weight: 700;
            margin-top: 36px;
        }

        &__item {
            display: flex;
            //flex-direction: row;
            max-width: 640px;
            margin: 0 auto;
            margin-top: 37px;
            padding: 0;
            justify-content: space-between;
            border: solid 1px #e5ddd5;
        }

        &__img {
            width: 80px;
            height: 80px;
            top: 39px;
            left: 80px;
        }

        &__quote {
            max-width: 350px;
            margin-left: 116px;
    margin-top: 32px;
        }

        &__name {
            text-align: left;
            margin: 0;
            margin-bottom: 11px;

        }

        &__text {
            margin:0;
        }

        &__slider {
            position: relative;
            top: -5px;
            background-color: #f8f5f2;
            

        }

        &__slider-btn {
            display: block;
            width: 50px;
            height: 160px;
            background-color: transparent;
            border:none;
            
        }
    }

    .slider-btn--left {
        background-image: url(../img/arrow-left.svg);
        background-repeat: no-repeat;
        background-size: 12px 12px;
        
        border-right: solid 1px #e5ddd5;
        background-position: center;
    }

    .slider-btn--right {
        background-image: url(../img/arrow-right.svg);
        background-repeat: no-repeat;
        background-size: 12px 12px;
        border-left: solid 1px #e5ddd5;
        background-position: center;
    }
}

