/*переменные                                             */
/*переменные                                             */
/*                                       глобальные стили */
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow Bold";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff") format("woff");
}
body {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0;
  pading: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*                                                 отладка*/
img:not([alt]),
label:not([for]),
input[type=submit]:not([value]) {
  outline: 2px solid red;
}
/*                                                  отладка*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-header__img {
  display: block;
  width: 226px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.main-nav__container {
  margin-left: auto;
  background-color: #826550;
}
.main-nav {
  min-height: 50px;
  position: relative;
  min-height: 51px;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
          box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list__item {
  padding-top: 10px;
  padding-bottom: 12px;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
  padding-left: 20px;
}
.nav-list__item:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.nav-list__item:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
.nav-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.user-login__link {
  text-decoration: none;
  color: #ffffff;
}
.user-login__icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.user-login__icon polygon {
  fill: #ffffff;
}
.stats__column .stats__text--lying {
  display: none;
  margin-top: 0;
}
@media (max-width: 767px) {
  .main-nav--closed .nav-list__item {
    display: none;
  }
  .main-nav--closed .nav-list__item--active {
    display: block;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--opened .main-nav__container {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__container {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .nav-list__item {
    display: block;
  }
  .main-nav--nojs .nav-list__item--active .nav-list__link {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .user-login {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-header {
    background-image: url(../img/back-tablet.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .main-nav__container {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
  }
  .container--tablet {
    width: 640px;
    margin: 0 auto;
  }
  .main-header__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-nav__title {
    display: none;
  }
  .nav-list {
    width: 907px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .user-login {
    display: inline-block;
    margin-left: auto;
  }
  .nav-list__item {
    border-bottom: none;
  }
  .stats__column .stats__text--lying {
    display: inline-block;
    color: #b2b2b2;
  }
  .stats__title {
    margin-bottom: 15px;
  }
  .main-nav__toggle {
    display: none;
  }
  .nav-list__item {
    padding-top: 10px;
    padding-bottom: 12px;
    border-top: 1px solid #886e5b;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-list__item:hover {
    background-color: black;
    border-top-color: black;
  }
  .nav-list__item .nav-list__link:hover {
    color: #6a4d38;
  }
  .nav-list__item--active .nav-list__link:hover {
    color: white;
  }
}
.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stats__top {
  background-color: white;
  color: black;
  text-align: center;
}
.stats__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
}
.stats__about {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  padding-left: 10px;
  padding-right: 10px;
}
.stats__text {
  color: #f7f4f1;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.stats__data {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 18px;
}
.stats__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
}
.stats__info--1 {
  background-color: #404040;
}
.stats__info--2 {
  background-color: #4e4e4e;
}
.stats__info--3 {
  background-color: #353535;
}
.stats__info--4 {
  background-color: #404040;
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .stats__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .stats__info {
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stats__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.merits__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 45px;
  padding-right: 45px;
}
.merits__title {
  text-transform: uppercase;
  color: #f7f4f1;
  margin-top: 170px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.merits__item {
  display: none;
  text-align: center;
  position: relative;
}
.merits__item--fast::before,
.merits__item--cool::before,
.merits__item--pricy::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 94px;
  height: 95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.merits__item--fast::before {
  background-image: url("../img/advantage-1.png");
  top: 100px;
}
.merits__item--cool::before {
  background-image: url("../img/advantage-2.png");
  top: -116px;
}
.merits__item--pricy::before {
  background-image: url("../img/advantage-3.png");
  top: -116px;
}
.merits__item--active {
  display: block;
}
.merits__text {
  color: #f7f4f1;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
.merits__list .stats__text--lying {
  display: inline-block;
}
@media (min-width: 768px) {
  .merits__title {
    margin-top: 42px;
  }
  .merits__list .stats__text--lying {
    display: none;
  }
  .merits__item {
    display: block;
    padding-left: 120px;
    text-align: left;
  }
  .merits__item--fast::before,
  .merits__item--cool::before,
  .merits__item--pricy::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 94px;
    height: 95px;
    left: 50px;
  }
  .merits__item--fast::before {
    background-image: url("../img/advantage-1.png");
    top: 0;
  }
  .merits__item--cool::before {
    background-image: url("../img/advantage-2.png");
    top: 0;
  }
  .merits__item--pricy::before {
    background-image: url("../img/advantage-3.png");
    top: 0;
  }
  .merits__item:not(:last-child):after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -20px;
    left: 7px;
    height: 1px;
    background-color: #4a4a4a;
  }
}
.news {
  background-color: #f8f5f2;
  min-height: 50px;
}
